.container{
	width: 80%;
}



.link-container{
	max-width: 940px;
	min-height: 620px;
	background-color: #e6e6e6;
	border-radius: 12px;
	margin-top: 43px;
	/**/
}

.page-header{
	padding-bottom: 19px;
	margin-bottom: 39px;
}

.input-wrapper{
	margin-bottom: 15px;
}

.link-wrapper{
	max-height: 390px;
	overflow-y: auto;
	margin-bottom: 20px;
}

.btn-primary {
	margin-left: 9px;
}

.landing-container{
	max-width: 740px;
	background-color: #e6e6e6;
	border-radius: 12px;
	margin-top: 43px;
}

.home-nav{
	margin-top: 20px;
}

.landing-wrapper{
	
	text-align: center;
	padding-bottom: 55px;
	overflow-x: auto;
	
}

.landing-copy{
	margin-bottom: 50px
}

.link-title{
	color: #6984b0;
	overflow-x: hidden;
	/*text-transform: uppercase;*/
}

.img-landing{
	border-radius: 23px;
}
